<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Library Folder ClasspathContainer, an Eclipse plugin</title>
<style type="text/css">
 BODY, P, DIV, TD, TR, OL, UL, LI,  A {
  font-family: Verdana, Tahoma, Arial, Helvetica;
  font-size : 12px;
 }
 TT {
  font-size : 130%;
 }
</style>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tbody>
    <tr>
    <td>
Library Folder ClasspathContainer update site.<br>
<pre>
[Install]
  Help -&gt; Software Updates -&gt; Find and Install
    (In Install/Update dialog)  select 'Search for new features to install' radio button
    (In Install dialog)         click  'New Remote Site' button
    (In New Update Site dialog) input <a href="http://libcontainer.sourceforge.net/updates/">http://libcontainer.sourceforge.net/updates/</a>

[Usage]
  (In properties dialog for your project)
    - select 'Java Build Path'
    - select 'Libraries' tab
    - click  'Add Library' button 
  (In Add Library dialog)
    - choose 'Library Container'
    - choose the folder
</pre>
<br>
To obtain source codes, visit <a href="http://sourceforge.net/projects/libcontainer/">http://sourceforge.net/projects/libcontainer/</a>
    </td>
    </tr>
  </tbody>
</table>
</body>
</html>
